h1 {
    font-size: 3em;
    text-align: center;
    color: rgb(68, 0, 255);
    
}

li {
    list-style: none;
}

ul {
    padding-left: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid;
    border-radius: 25px;
    width: 30%;
}
